<div class="ui small feed">
          <% @messages.each do |message| %>
            <div class="event">
              <div class="content">
                <div class="summary">
                  <a><%= message.user_id %></a> <%= message.body %>
                </div>
              </div>
            </div>
            <div class="event">
              <div class="content">
                <div class="summary">
                  <a><%= message.user_id %></a> <%= message.body %> 
                </div>
              </div>
            </div>
            <div class="event">
              <div class="content">
                <div class="summary"><a><%= message.user_id %></a> <%= message.body %>
              </div>
            </div>
          </div>
        </div>
        <%end %>