<main class="ui container grid">
  <nav class="row first-row">
    <div class="three wide left floated column col3 logo">CornerChat</div>
    <div class="nine wide column col3 logo">
      <div class="ui three item menu nav-bar">
        <a class="active item">Editorials</a>
        <a class="item">Reviews</a>
        <a class="item">Upcoming Events</a>
      </div>
    </div>
  </nav>
  <section class="row main-content card">
    <div class="ui placeholder segment">
      <div class="ui two column very relaxed stackable grid">
        <div class="column">
          <div class="ui form">
            <div class="field">
              <label>Choose your Alias</label>
              <div class="ui left icon input">
                <input type="text" placeholder="Alias" />
                <i class="user icon"></i>
              </div>
              <%= form_with url: "/login", method: :post do |form| %> <%=
              form.label :username, "Choose your Alias:" %>
              <div class="ui left icon input">
                <%= form.text_field :username %>
                <i class="user icon"></i>
              </div>
              <div class="ui blue submit button">
                <%= form.submit "Chat!" %>
              </div>
              <% end %>
            </div>
            <div class="ui blue submit button">Chat</div>
            <% flash.each do |type, msg| %>
              <div class="ui negative message">
                <div class="header"><%= msg %></div>
              </div>
            <% end %>
          </div>
        </div>
        <div class="middle aligned column">
          Choose your Alias and Chat Anonymously on the internet
        </div>
      </div>
      <div class="ui vertical divider"></div>
    </div>
  </section>
</main>
